## Extra Credit Project_Baoilng Zhou_bz882
## Part 1

## Authorea Report can be found:
https://www.authorea.com/users/175811/articles/211489-regression-analysis-predicting-low-income-housing-density-by-census-tract

In [39]:
import pandas as pd

In [40]:
# Download the low-income housing units from the LIHTC database
df_xls1 = pd.read_excel(r'https://github.com/baolingz/PUI2017_bz882/blob/master/Extra_Credit/Census%20Tract%20Low%20Income%20Units%20copy.xlsx?raw=true')

# Convert to .csv
df_xls1.to_csv(r'Census Tract Low Income Units.csv', encoding='utf-8')
df1 = pd.read_csv(r'Census Tract Low Income Units.csv')
del df1['Unnamed: 0']

In [41]:
# Download the total units of house from in New York City from American Fact Finder
df_xls2 = pd.read_excel(r'https://github.com/baolingz/PUI2017_bz882/blob/master/Extra_Credit/All%20New%20York%20Counties%20Units%20copy.xlsx?raw=true')

# Convert to .csv
df_xls2.to_csv(r'All New York Counties Units.csv', encoding='utf-8')
df2 = pd.read_csv(r'All New York Counties Units.csv')
del df2['Unnamed: 0']

In [42]:
df1.head()

  Borough  2010 Census Tract Number:  Total Low-Income Units:
0   BRONX                     221.01                    132.0
1   BRONX                      89.00                     18.0
2   BRONX                      52.00                     17.0
3   BRONX                     117.00                    143.0
4   BRONX                     241.00                     61.0

In [43]:
df2.head()

,GEO.id,GEO.id2,GEO.display-label,Borough,Total_Housing_unit
0,1400000US36005000100,36005000100,"Census Tract 1, Bronx County, New York",BRONX,0
1,1400000US36005000200,36005000200,"Census Tract 2, Bronx County, New York",BRONX,1492
2,1400000US36005000400,36005000400,"Census Tract 4, Bronx County, New York",BRONX,2129
3,1400000US36005001600,36005001600,"Census Tract 16, Bronx County, New York",BRONX,2046
4,1400000US36005001900,36005001900,"Census Tract 19, Bronx County, New York",BRONX,947

In [44]:
df1.shape

(1971, 3)

In [45]:
df1 = df1[df1['Total Low-Income Units:'] >0]

In [46]:
# Design a function to extract Census tract number from a string
def extract_census(s):
    j = s.index(',')
    i = s.index('t')
    return float(s[i+2:j])

In [47]:
#extract census number from text
df2['n_ct'] = df2['GEO.display-label'].apply(lambda x:extract_census(x))

In [48]:
df2[df2.Borough == 'BRONX'].shape

(339, 6)

In [49]:
df1[df1.Borough == 'BRONX'].shape

(499, 3)

In [50]:
# Put dataset with total units into seperate dataframe by borough
BX1 = df1[df1.Borough == 'BRONX']
BK1 = df1[df1.Borough == 'BROOKLYN']
MN1 = df1[df1.Borough == 'MANHATTAN']
QN1 = df1[df1.Borough == 'QUEENS']
SI1 = df1[df1.Borough == 'STATEN ISLAND']

In [51]:
# Put dataset with low-income housing units into seperate dataframe by borough
BX2 = df2[df2.Borough == 'BRONX']
BK2 = df2[df2.Borough == 'BROOKLYN']
MN2 = df2[df2.Borough == 'MANHATTAN']
QN2 = df2[df2.Borough == 'QUEENS']
SI2 = df2[df2.Borough == 'STATEN ISLAND']

In [52]:
BX1 = BX1.groupby('2010 Census Tract Number:').sum()
BK1 = BK1.groupby('2010 Census Tract Number:').sum()
MN1 = MN1.groupby('2010 Census Tract Number:').sum()
QN1 = QN1.groupby('2010 Census Tract Number:').sum()
SI1 = SI1.groupby('2010 Census Tract Number:').sum()

In [53]:
BX1.shape

(141, 1)

In [54]:
BX2.shape

(339, 6)

In [55]:
BX1.reset_index(inplace=True)

In [56]:
BK1.reset_index(inplace=True)
MN1.reset_index(inplace=True)
QN1.reset_index(inplace=True)
SI1.reset_index(inplace=True)

In [57]:
BX1.head()

   2010 Census Tract Number:  Total Low-Income Units:
0                      19.00                    671.0
1                      25.00                    218.0
2                      27.01                     58.0
3                      27.02                     18.0
4                      31.00                      5.0

In [58]:
BX2.head()

,GEO.id,GEO.id2,GEO.display-label,Borough,Total_Housing_unit,n_ct
0,1400000US36005000100,36005000100,"Census Tract 1, Bronx County, New York",BRONX,0,1.0
1,1400000US36005000200,36005000200,"Census Tract 2, Bronx County, New York",BRONX,1492,2.0
2,1400000US36005000400,36005000400,"Census Tract 4, Bronx County, New York",BRONX,2129,4.0
3,1400000US36005001600,36005001600,"Census Tract 16, Bronx County, New York",BRONX,2046,16.0
4,1400000US36005001900,36005001900,"Census Tract 19, Bronx County, New York",BRONX,947,19.0

In [59]:
# merge datasets of five boroughs into one
BX3 = pd.merge(BX2, BX1, how='left', on=None, left_on='n_ct', right_on='2010 Census Tract Number:',
         left_index=False, right_index=False)
BK3 = pd.merge(BK2, BK1, how='left', on=None, left_on='n_ct', right_on='2010 Census Tract Number:',
         left_index=False, right_index=False)
MN3 = pd.merge(MN2, MN1, how='left', on=None, left_on='n_ct', right_on='2010 Census Tract Number:',
         left_index=False, right_index=False)
QN3 = pd.merge(QN2, QN1, how='left', on=None, left_on='n_ct', right_on='2010 Census Tract Number:',
         left_index=False, right_index=False)
SI3 = pd.merge(SI2, SI1, how='left', on=None, left_on='n_ct', right_on='2010 Census Tract Number:',
         left_index=False, right_index=False)

In [60]:
df_ = BX3.append([BK3, MN3, QN3, SI3])

In [61]:
df_.head()

,GEO.id,GEO.id2,GEO.display-label,Borough,Total_Housing_unit,n_ct,2010 Census Tract Number:,Total Low-Income Units:
0,1400000US36005000100,36005000100,"Census Tract 1, Bronx County, New York",BRONX,0,1.0,NaN,NaN
1,1400000US36005000200,36005000200,"Census Tract 2, Bronx County, New York",BRONX,1492,2.0,NaN,NaN
2,1400000US36005000400,36005000400,"Census Tract 4, Bronx County, New York",BRONX,2129,4.0,NaN,NaN
3,1400000US36005001600,36005001600,"Census Tract 16, Bronx County, New York",BRONX,2046,16.0,NaN,NaN
4,1400000US36005001900,36005001900,"Census Tract 19, Bronx County, New York",BRONX,947,19.0,19.0,671.0

In [62]:
del df_['2010 Census Tract Number:']

In [63]:
df_.head()

,GEO.id,GEO.id2,GEO.display-label,Borough,Total_Housing_unit,n_ct,Total Low-Income Units:
0,1400000US36005000100,36005000100,"Census Tract 1, Bronx County, New York",BRONX,0,1.0,NaN
1,1400000US36005000200,36005000200,"Census Tract 2, Bronx County, New York",BRONX,1492,2.0,NaN
2,1400000US36005000400,36005000400,"Census Tract 4, Bronx County, New York",BRONX,2129,4.0,NaN
3,1400000US36005001600,36005001600,"Census Tract 16, Bronx County, New York",BRONX,2046,16.0,NaN
4,1400000US36005001900,36005001900,"Census Tract 19, Bronx County, New York",BRONX,947,19.0,671.0

In [64]:
# create a function that turn cell with nan into 0
def check_z(x):
    import math
    if math.isnan(x):
        return 0
    else:
        return x

In [65]:
# apply the check nan function
df_['Total Low-Income Units:'] = df_['Total Low-Income Units:'].apply(lambda x:check_z(x))

In [66]:
df_.head()

,GEO.id,GEO.id2,GEO.display-label,Borough,Total_Housing_unit,n_ct,Total Low-Income Units:
0,1400000US36005000100,36005000100,"Census Tract 1, Bronx County, New York",BRONX,0,1.0,0.0
1,1400000US36005000200,36005000200,"Census Tract 2, Bronx County, New York",BRONX,1492,2.0,0.0
2,1400000US36005000400,36005000400,"Census Tract 4, Bronx County, New York",BRONX,2129,4.0,0.0
3,1400000US36005001600,36005001600,"Census Tract 16, Bronx County, New York",BRONX,2046,16.0,0.0
4,1400000US36005001900,36005001900,"Census Tract 19, Bronx County, New York",BRONX,947,19.0,671.0

In [67]:
#calculate the low-income housing density 
df_['perc_pc'] = df_['Total Low-Income Units:']/df_.Total_Housing_unit

In [68]:
df_.head()

,GEO.id,GEO.id2,GEO.display-label,Borough,Total_Housing_unit,n_ct,Total Low-Income Units:,perc_pc
0,1400000US36005000100,36005000100,"Census Tract 1, Bronx County, New York",BRONX,0,1.0,0.0,NaN
1,1400000US36005000200,36005000200,"Census Tract 2, Bronx County, New York",BRONX,1492,2.0,0.0,0.000000
2,1400000US36005000400,36005000400,"Census Tract 4, Bronx County, New York",BRONX,2129,4.0,0.0,0.000000
3,1400000US36005001600,36005001600,"Census Tract 16, Bronx County, New York",BRONX,2046,16.0,0.0,0.000000
4,1400000US36005001900,36005001900,"Census Tract 19, Bronx County, New York",BRONX,947,19.0,671.0,0.708553

In [69]:
df_ = df_[df_.Total_Housing_unit != 0]

In [70]:
df_.head()

,GEO.id,GEO.id2,GEO.display-label,Borough,Total_Housing_unit,n_ct,Total Low-Income Units:,perc_pc
1,1400000US36005000200,36005000200,"Census Tract 2, Bronx County, New York",BRONX,1492,2.0,0.0,0.000000
2,1400000US36005000400,36005000400,"Census Tract 4, Bronx County, New York",BRONX,2129,4.0,0.0,0.000000
3,1400000US36005001600,36005001600,"Census Tract 16, Bronx County, New York",BRONX,2046,16.0,0.0,0.000000
4,1400000US36005001900,36005001900,"Census Tract 19, Bronx County, New York",BRONX,947,19.0,671.0,0.708553
5,1400000US36005002000,36005002000,"Census Tract 20, Bronx County, New York",BRONX,3170,20.0,0.0,0.000000

In [71]:
#save the cleaned data into a csv.
df_.to_csv('pc_density.csv')